<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cosoftlabs.basicquotegen" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Basic Quote Generator</name>
    <description>
        A basic quote generator.
    </description>
    <author email="jordan.olsen@cosoftstudios.com" href="">
        LucasGI
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <platform name="android">
        <icon density="mdpi" src="www/res/ic_launcher/res/mdpi.png" />
        <icon density="hdpi" src="www/res/ic_launcher/res/hdpi.png" />
        <icon density="xhdpi" src="www/res/ic_launcher/res/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/ic_launcher/res/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/ic_launcher/res/xxxhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-x-toast" spec="^2.7.2" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <engine name="android" spec="~7.1.4" />
    <engine name="browser" spec="^5.0.4" />
</widget>
